<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title th:utext="|${res.title} galgame -mikomiko-好玩的二次元分享社区 (・ω・)ノ-( ゜-゜)つロ - |"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/ref/img/icon/favicon.ICO" type="image/x-icon" />
    <link rel="stylesheet" href="/ref/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ref/css/public.xana.css">
    <link rel="stylesheet" href="/ref/css/gal.xana.css">
    <link rel="stylesheet" href="/ref/css/backimg.xana.css">

    <script src="/ref/js/jquery-3.5.1.min.js"></script>
    <script src="/ref/js/bootstrap.min.js"></script>
    <script src="/ref/js/public/backimg.xana.js"></script>
    <script src="/ref/js/public/search.xana.js"></script>

    <script th:inline="javascript">
        var res = [[${res}]], sta = [[${sta}]];
        console.log(res);
        if(!sta) $.post('/statistic/insert/'+res.id, function (res) {
            console.log(res);
        });
        else
            $.post('/statistic/views/'+res.id+'/views+1');

        $(function () {
            sendToIframe();
            $('#comment>i').click(function () {
                if($(this).attr('value')==1){
                    $(this).parent().next().css('display', 'none');
                    $(this).attr({'value': 0, 'class':'glyphicon glyphicon-menu-down'});
                }else{
                    $(this).parent().next().css('display', 'block');
                    $(this).attr({'value': 1, 'class':'glyphicon glyphicon-menu-up'});
                }
            });
        })

        $('#comment>i').click(function () {
            if($(this).attr('value')==1){
                $(this).parent().next().css('display', 'none');
                $(this).attr({'value': 0, 'class':'glyphicon glyphicon-menu-down'});
            }else{
                $(this).parent().next().css('display', 'block');
                $(this).attr({'value': 1, 'class':'glyphicon glyphicon-menu-up'});
            }
        })

        function sendToIframe(){
            var ciframe = document.getElementById('commentIframe');
            ciframe.onload = function () {
                ciframe.contentWindow.postMessage({aid: res.id}, '*');
            }
        }

        window.addEventListener("message",function(r){
            console.log(r.data.page);
            $('#ciframe').html('<iframe id="commentIframe" src="/comment/query/'+res.id+'?page='+r.data.page+'" width="100%" frameborder="0" scrolling="no"></iframe>');
            sendToIframe();
        },false);


        function clk(obj) {
            if($(obj).attr('value')==1){
                $(obj).parent().next().css('display', 'none');
                $(obj).parent().css('marginBottom', '2%');
                $(obj).attr('class', 'glyphicon glyphicon-menu-up');
                $(obj).attr('value', 0);
            }else{
                $(obj).parent().next().css('display', 'block');
                $(obj).parent().css('marginBottom', 0);
                $(obj).attr('class', 'glyphicon glyphicon-menu-down');
                $(obj).attr('value', 1);
            }
        }



/*        function write(res){


            $('.galInfo>p').text(res.title);
            for(var pic of res.pics)
                $('.galInfo>.img').append('<img src="'+pic+'" alt="" class="auto-width" title="'+res.title+'">');
            $('.galInfo>.des').html(res.des1);
            if(res.des2)
                $('.galInfo>.staff').append('<div class="mark">汉化STAFF <a href="javascript:void(0);" class="glyphicon glyphicon-menu-down" onclick="clk(this)" value=\'1\'></a></div>\n' +
                    '                <div class="des">'+res.des2+'</div>');
        };*/


    </script>

</head>
<body>
<div id="hd">
    <nav style="position: fixed; top: 0; z-index: 100">
        <div class="logo">
            <a href="/" title="主页">
                <img src="/ref/img/logo.png" alt="">
            </a>
        </div>
        <div id="hdtags" style="">
            <a href="/">门户</a>
            <a href="/bangumi/" target="_blank">最新热漫</a>
            <a href="/bangumi/" target="_blank">视频专区</a>
            <a href="#">音乐</a>
            <a href="#">漫画</a>
            <a href="/game/" target="_blank">游戏</a>
            <a href="#">资讯</a>
        </div>

        <div id="loginDiv" th:if="!${userInfo}">
            <a href="/login">登录</a>
            <a href="/signUp">注册</a>
            <a href="/signUp">忘记密码?</a>
            <a href="/signUp">QQ登录</a>
            <a href="/signUp">微信登录</a>
        </div>
        <div id="userdiv" th:if="${userInfo}">
            <a th:href="|/user/${userInfo.uid}|" id="usernav"><img th:src="|${userInfo.pic}|" alt="" class="img-circle" th:utext="${userInfo.username}"></a>
            <ul class="nav navbar">
                <div id="usr" th:utext="${userInfo.username}"></div>
                <li id="lv">Lv6</li>
                <li id="uid" th:utext="|UID: ${userInfo.uid}|"></li>
                <li><a th:href="|/user/${userInfo.uid}|"><img src="/ref/img/icon/all/user.png">个人中心</a></li>
                <li><a th:href="|/up/${userInfo.uid}|"><img src="/ref/img/icon/all/upload.png" alt="">投稿管理</a></li>
                <li><a th:href="|/order/${userInfo.uid}|"><img src="/ref/img/icon/all/order.png" alt="">订单中心</a></li>
                <li><a href="/logout"><img src="/ref/img/icon/all/exit.png" alt="">退出</a></li>
            </ul>
            <a th:href="|/message/${userInfo.uid}|">动态</a>
            <a th:href="|/favorite/${userInfo.uid}|">收藏</a>
            <a th:href="|/history/${userInfo.uid}|">历史</a>
        </div>
        <div class="sub">
            <a href="javascript:void(0);">扫码+关注</a>
            <img src="/ref/img/QRcode/app-download.png" alt="">
        </div>
        <form class="search" action="/search/game/" method="get" target="_blank">
            <input type="text" placeholder="莲华..." class="key" name="key">
            <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </form>
    </nav>

    <div class="headerbg" style="height: 100px"></div>

    <!--侧边工具栏-->
    <div class="side_bar">
        <ul>
            <li class="side_bar_tel">
                <i><img src="/ref/img/icon/all/mail.png" alt="" title="电子邮箱"></i>
                <div class="deansidehidden">
                    <p>xana@qq.com</p>
                </div>
            </li>
            <li class="side_bar_weixin">
                <i><img src="/ref/img/icon/all/qq.png" alt="" title="QQ"></i>
                <div class="deansidehidden">
                    <img src="/ref/img/QRcode/me.jpg" alt="">
                    <p>联系站长QQ</p>
                </div>
            </li>
            <li class="side_bar_top">

                <i onclick="window.scroll({ top: 0, behavior: 'smooth'})" title="回到顶部">
                    <img src="/ref/img/icon/all/top.png" alt="">
                </i>
                <div class="deansidehidden">
                    <p>返回顶部</p>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="backimg">
    <section>
        <ul class="cb-slideshow">
        </ul>
    </section>
    <audio id="audio" src="https://www.hacg.me/mp3/onj001.mp3"></audio>
    <div id="overlay" class="magnify">
        <div class="large h_img" style="background-image:  url('/ref/img/ghs/1.jpg')"></div>
        <img class="small" src="/ref/img/public/rpic.png" width="1920">
    </div>
</div>
<nav class="navbar navbar-fixed-top" id="hdSmart">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="offcanvas">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: rgba(0,0,0,0.5);"></span>
                <span class="icon-bar" style="background-color: rgba(0,0,0,0.5);"></span>
                <span class="icon-bar" style="background-color: rgba(0,0,0,0.5);"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/ref/img/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse sidebar-offcanvas">
            <ul class="nav navbar-nav">
                <li><a href="/"><img src="/ref/img/icon/all/index.png">主页</a></li>
                <li><a href="#"><img src="/ref/img/icon/all/latest.png">最新</a></li>
                <li><a href="/bangumi/"><img src="/ref/img/icon/all/bangumi.png">番剧</a></li>
                <li><a href=""><img src="/ref/img/icon/all/comic.png">漫画</a></li>
                <li><a href="/game/"><img src="/ref/img/icon/all/game.png">游戏</a></li>
                <li><a href=""><img src="/ref/img/icon/all/music.png">音乐</a></li>
                <li><a href=""><img src="/ref/img/icon/all/message.png">资讯</a></li>
                <li>
                    <div class="nav search smart">
                        <input type="text" class="key re">
                        <a class="re" href="/search/game/"><span class="glyphicon glyphicon-search"></span></a>
                    </div>
                </li>
            </ul>
            <ul th:if="!${userInfo}" class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
                <li><a href="/signUp">注册</a></li>
            </ul>
            <ul th:if="${userInfo}" class="nav navbar-nav navbar-right">
                <li><a th:href="|/user/${userInfo.uid}|"><img th:src="${userInfo.pic}" alt="" width="60px" class="img-circle"><br><span th:utext="${userInfo.username}"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="live2d">
    <div class="waifu" style="position: fixed; bottom: -5px;">
        <div class="waifu-tips"></div>
        <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>
    <script src="/live2d/assets/waifu-tips.js"></script>
    <script src="/live2d/assets/live2d.js"></script>
    <script type="text/javascript">initModel("/live2d/assets/")</script>
</div>

<div class="container main">
    <div class="col-sm-9" >
        <div class="galInfo">
            <div class="tags">
                <li class="glyphicon glyphicon-tags"></li>
                <script>
                    for(var tag of res.tags.split(/\s+/))
                        $('.galInfo>.tags').append('<a href="/game/tag/'+tag+'" target="_blank">'+tag+'</a>');
                </script>
            </div>

            <p th:utext="${res.title}">美少女万华镜 -神明所创造的少女们-</p>
            <div class="mark">游戏截图</div>
            <div class="img" th:each="img : ${imgList}">
                <img th:src="${img}" alt="" class="auto-width" th:title="${res.title}">
            </div>

            <div class="dess" th:if="${res.des1.length()}>0">
                <div class="mark">游戏简介 <a href="javascript:void(0);" class="glyphicon glyphicon-menu-down" onclick="clk(this)" value=1></a></div>
                <div class="des" th:utext="${res.des1}"></div>
            </div>

            <div class="staff" th:if="${res.des2.length()}>0">
                <div class="mark" >汉化STAFF <a href="javascript:void(0);" class="glyphicon glyphicon-menu-down" onclick="clk(this)" value=1></a></div>
                <div class="des" th:utext="${res.des2}"></div>
            </div>

            <div class="mark">资源分享</div>
            <div class="src">
                <p><li class="glyphicon glyphicon-star"></li> 提取密码 <div class="pwd">3344</div></p>
                <p><li class="glyphicon glyphicon-star"></li> 解压密码 <div class="pwd">xana.li</div></p>
                <p><a href="https://pan.baidu.com/s/1uoaZNg8lglmUiMlDrblZdQ" class="btn btn-success btn-block no-padding">百度网盘</a></p>
            </div>
            <div class="src">
                <p><li class="glyphicon glyphicon-star"></li> 提取密码 <div class="pwd">3344</div></p>
                <p><li class="glyphicon glyphicon-star"></li> 解压密码 <div class="pwd">xana.li</div></p>
                <p><a href="https://pan.baidu.com/s/1uoaZNg8lglmUiMlDrblZdQ" class="btn btn-success btn-block no-padding">磁力链接</a></p>
            </div>
        </div>
        <h4 id="comment">评论 <i class="glyphicon glyphicon-menu-up" value=1></i></h4>
        <div class="row" id="ciframe">
            <iframe id="commentIframe" th:src="|/comment/query/${res.id}|" width="100%" frameborder="0" scrolling="no">
            </iframe>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="user">
            <div class="mark-body">
                <img class="img-circle auto-height" src="/ref/img/icon/user.gif" alt="">
                <span class="text-info mark-info">UP 主</span>
                <span class="user-tip">
                    认真你就输啦 (・ω・)ノ
                </span>
            </div>
            <div class="auto-width-height-ratio">
                <div class="auto-ratio" th:if="${upUser}">
                    <a th:href="|/user/${upUser.uid}|" th:title="${upUser.username}">
                        <div class="user-box">
                            <img th:src="${upUser.pic}" alt="" class="img-circle auto-height icon-border">
                            <span th:utext="${upUser.username}">某傲娇的只眼姬</span>
                        </div>
                    </a>
                    <div class="auto-width user-img">
                        <img src="/ref/img/user-img/illust_40155534_20191112_212647.jpg" alt="" class="auto-width">
                    </div>
                    <span class="user-login">
                        <a href="#" class="btn btn-danger btn-sm">关注</a>&nbsp;
                        <a href="#" class="btn btn-info btn-sm">私信</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="rank">
            <div class="mark-body">
                <img class="img-circle auto-height" src="/ref/img/icon/rank.gif" alt="">
                <span class="text-info mark-info">大家都在玩</span>
            </div>

            <div class="recDiv" th:each="acg : ${acgList}">
                <a class="auto-ratio auto-adjust" th:href="|/game/gal/${acg.id}|" target="_blank" th:title="${acg.title}">
                    <div class="imgDiv" th:style="|background-image: url('${acg.pic}'); width:100%; height:100%|"></div>
                    <div class="info">
                        <h5 class="title singal" th:utext="${acg.title}">游戏人生</h5>
                        <h6 class="up singal">UP: <span th:utext="${acg.upName}">某傲娇的只眼姬</span></h6>
                        <h6 class="singal"><li class="glyphicon glyphicon-eye-open"></li> <span th:utext="${acg.views}">99999</span><li class="glyphicon glyphicon-comment" style="margin-left: 10px"></li>  <span th:utext="${acg.comments}">999</span></h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<iframe src="/iframe/flooder.html" frameborder="0" id="flooderIframe" scrolling="no"></iframe>
</body>
</html>